@font-face {
    font-family: "NEODGM";
    src: url(../../assets/fonts/NEODGM.TTF);
}

body {
    background-color: rgb(206, 206, 206);
}

.title {
    text-align: center;
    color: rgb(255, 241, 241);
    letter-spacing: 10px;
    -webkit-text-stroke: 0.1px #333;
    font-family: "NEODGM";
    font-size: 45px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: -50px;
    text-shadow: 4px 14px 5px #000;
    animation: up-down 1.4s infinite ease-in-out alternate;
}
.game {
    display: flex;
    justify-content: center;
}

@keyframes up-down {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
}