@font-face {
    font-family: "NEODGM";
    src: url(../../assets/fonts/NEODGM.TTF);
}

.title {
    font-family: "NEODGM";
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 20px;
}

.gameover, .success {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
}

.end {
    font-family: "NEODGM";
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 2px 4px 2px gray; 
}

.ment {
    font-family: "NEODGM";
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    text-shadow: 2px 4px 2px gray; 
}

.game {
    display: flex;   
    justify-content: center; 
}

.timer {
    font-family: "NEODGM";
    display: flex;
    font-size: 20px;
    font-weight: 800;
    margin-right: 20%;
    justify-content: flex-end;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    font-family: "NEODGM";
    text-align: center;
    font-weight: 800;
    font-size: 13px;
}

input[type=radio]:checked+label {
    background-color: #333;
    color: #fff;
}

.start {
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #333;
    font-size: 13px;
    font-weight: 800;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #bbb;
    text-align: center;
    font-family: "NEODGM";
    font-size: 10px;
    width: 15px;
    height: 15px;
    background: rgb(165, 165, 165);
}

td.opened {
    background: white;
}

td.flag {
    background: rgb(255, 189, 67);
}

td.pung {
    background: red;
}

.btn {
    margin: 20px;
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 800;;
    transition: 0.25s;
    border: 3px solid #f8e6e0;
    color: #6e6e6e;
    font-size: 24px;
}

.btn:hover {
    background-color: #f8e6e0;
    color: #6e6e6e;
}